body {
   /* background-image: url(background.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  margin-left: 50%;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#mainmenu .activities .gallery .contacts .support{
  display: inline;
}

#header #mainmenu .activities{
/*  margin-left: 94%;
  margin-top: 18%; */
}

#header #mainmenu .gallery{
/*  margin-right: 94%;
  margin-top: 1%; */
}

#header #mainmenu img{
  width: 100px;
  height: 100px;
  margin-left: 0px;
  padding: 0px;
  opacity: 0.5;
}

#header img{
  margin-left:
  width: 100px;
  height: 100px;
}

#container{
				width: 1100px;
        height: 700px;
				margin: 0 auto;
				background-color: white;
        background-image: url(background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;

			}

#header{
				margin-left: 0px;
			}

#content{
				margin-left: 0px;
			}
/*
#container .content {
          position: absolute;
          bottom: 0;
          /* background-color: rgb(51, 255, 255); */
/*          background-color: white;
          color: black;
          opacity: 0.5;
          width: 1200px;
          padding: 0px;
